/* utility*/

hr.space {
	background: transparent;
	border: none;
	clear:both;
}
/* utility*/

/* main */
/*h4 {
	color: #2f7300;
}*/
/* main */

/* patch to bootstrap*/
.nav.nav-tabs:hover {
	cursor: pointer;
}

.alert {
	margin-top: 10px;
	margin-bottom: 5px;
}
/* patch to bootstrap*/