/* utility*/

hr.space {
	background: transparent;
	border: none;
	clear:both;
}
/* utility*/

/* main */
h4 {
	color: #2f7300;
}
/* main */

/* patch to bootstrap*/
.nav.nav-tabs:hover {
	cursor: pointer;
}

.alert {
	margin-top: 10px;
	margin-bottom: 5px;
}
.btn-primary {
	color: #ffffff;
	background-color: #009900;
	border-color: #009900;
	background-image: linear-gradient(#00ff00, #009900 6%, #00cc00);
}
/* patch to bootstrap*/

#reserve-panel {
	border: 1px #dddddd solid;
	margin: 0 15px 20px;
	background: #d9edf7;
}
#reserve-panel.form-inline .form-control {
	width:100%;
}