<div class="container-fluid">
    <div layout="row">
        <div flex ng-repeat="partyType in partyTypes" class="panel col-lg-5"
             ng-class="panelTypes[partyType.unitIdPrefix]"
             style="padding: 0px; margin:0px 20px 20px 0px">
            <div class="panel-heading"><h1 class="panel-title">{{partyType.partyTypeDescription}}</h1></div>
            <div class="panel-body" ng-animate="'animate'">
                <h1 style="font-size: 150px;text-align: center">
                    {{lastCalledNumbers[partyType.unitIdPrefix].unitId||"--"}}</h1>
            </div>
            <div class="panel-footer text-center">
                <span ng-show="lastCalledNumbers[partyType.unitIdPrefix].adhocUnit">现场排队</span>
                <span ng-hide="lastCalledNumbers[partyType.unitIdPrefix].adhocUnit">手机排队</span>
            </div>

        </div>
    </div>
</div>