<hr class="space"/>
<div class="btn-group" layout="row" layout-align="end center">
    <button type="button" class="btn" ng-class="{'btn-success':showMode===SHOW_MODE.CALENDAR}"
            ng-click="showMode=SHOW_MODE.CALENDAR">日历
    </button>
    <button type="button" class="btn" ng-class="{'btn-success':showMode===SHOW_MODE.LIST}"
            ng-click="showMode=SHOW_MODE.LIST">列表
    </button>
</div>
<!--<hr class="space"/>x-style="min-width:200px;min-height:180px;"-->
<div class="list-group" ng-show="showMode===SHOW_MODE.LIST">
    <div class="list-group-item list-group-item-info">
        <ng-include src="'reservation-row-header'"></ng-include>
    </div>
    <div ng-repeat='unit in reservationList' class="list-group-item"
         ng-class="{'success':unit.reservationStatus===reservationStatusMap.accept,'danger':unit.reservationStatus===reservationStatusMap.refuse}">
        <ng-include src="'reservation-row'"></ng-include>
    </div>
</div>
<div ng-show="showMode===SHOW_MODE.CALENDAR">
    <div class="reservation-calendar-toolbar" layout="row" layout-margin layout-align="start center">
        <div>
            <select class="form-control" ng-model="date.year" required name="year">
                <option ng-repeat='year in yearList' value="{{year}}">
                    {{year}}
                </option>
            </select>
        </div>
        <div>
            <select class="form-control" ng-model="date.month" required name="month">
                <option ng-repeat='month in monthList' value="{{month}}">
                    {{month}}
                </option>
            </select>
        </div>
        <button class="btn btn-info" ng-click="last()"><span
                class="glyphicon glyphicon-chevron-left"></span>
        </button>
        <button class="btn btn-info" ng-click="next()"><span
                class="glyphicon glyphicon-chevron-right"></span>
        </button>
        <button class="btn btn-info" ng-click="toToday()">
            今天
        </button>
    </div>
    <!--<hr class="space"/>-->
    <div class="reservation-calendar-workzone">
        <div layout="row">
            <div flex ng-repeat="weekName in weekNameList">{{weekName}}</div>
        </div>
        <div layout="column" class="content">
            <div layout="row" ng-repeat="week in weekList">
                <div class="date ng-cloak" flex ng-repeat="chineseDate in week"
                     ng-class="{'opacity':chineseDate.getMonth()+1!==date.month,'today':chineseDate.isToday()}">
                    <span>{{chineseDate.getDate()}}</span>
                    <span>{{chineseDate.getSolarTerm()||chineseDate.getChineseDate()}}</span>

                    <div ng-show="showReservationList[chineseDate.getTime()]&&showReservationList[chineseDate.getTime()].replied.length!==0"
                         class="summary pointer ng-hide">
                        <span>已回复{{showReservationList[chineseDate.getTime()].replied.length}}条预约
                            <x-self-popover data-placement="top" container="body"
                                            auto-close>
                                <div>
                                    <div class="list-group-item list-group-item-info">
                                        <ng-include src="'reservation-row-header'"></ng-include>
                                    </div>
                                    <div ng-repeat='unit in showReservationList[chineseDate.getTime()].replied'
                                         class="list-group-item"
                                         ng-class="{'success':unit.reservationStatus===reservationStatusMap.accept,'danger':unit.reservationStatus===reservationStatusMap.refuse}">
                                        <ng-include src="'reservation-row'"></ng-include>
                                    </div>
                                </div>
                            </x-self-popover>
                        </span>
                    </div>
                    <div ng-show="showReservationList[chineseDate.getTime()]&&showReservationList[chineseDate.getTime()].noReply.length!==0"
                         class="danger summary pointer ng-hide">
                       <span>
                           未回复{{showReservationList[chineseDate.getTime()].noReply.length}}条预约
                           <x-self-popover data-placement="top" x-style="min-width:200px;min-height:180px;"
                                           name="acceptPopover" auto-close>
                               <div class="list-group-item list-group-item-info">
                                   <ng-include src="'reservation-row-header'"></ng-include>
                               </div>
                               <div ng-repeat='unit in showReservationList[chineseDate.getTime()].noReply'
                                    class="list-group-item"
                                    ng-class="{'success':unit.reservationStatus===reservationStatusMap.accept,'danger':unit.reservationStatus===reservationStatusMap.refuse}">
                                   <ng-include src="'reservation-row'"></ng-include>
                               </div>
                           </x-self-popover>
                       </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/ng-template" id="reservation-row">
    <div class="row">
        <div class="col-lg-1">
            {{unit.unitId}}
        </div>
        <div class="col-lg-1">
            {{unit.userName}}
        </div>
        <div class="col-lg-1">
            {{unit.phone}}
        </div>
        <div class="col-lg-2">
            {{unit.reservationInfo.reservationTime * 1000 | date:'medium'}}
        </div>
        <div class="col-lg-2">
            {{unit.reservationComment}}
        </div>
        <div class="col-lg-1">
            {{unit.callCount}}
        </div>
        <div class='col-lg-4'>
            <button class="btn btn-danger"
                    ng-click="removeReservation(unit.unitId)"
                    x-confirm-hint="" x-modal-title="溫馨提示"
                    x-modal-content="确定移除{{unit.unitId}}-{{unit.userName}}吗？">移除
            </button>
            <button class="btn btn-primary" ng-click="call(unit)">叫号
            </button>
            <button class="btn btn-info" ng-click="openPrintView(unit)">出票</button>
            <button class="btn btn-danger"
                    ng-show="unit.reservationStatus===reservationStatusMap.waitConfirm">同意
                <x-self-popover data-placement="top" x-style="min-width:200px;min-height:180px;"
                                name="acceptPopover" auto-close>
                    <form name="acceptReservationFormValidation" novalidate=""
                          ng-submit="accept(acceptReservationFormValidation.$valid,unit,acceptReason)">
                        <textarea class="form-control" ng-model="acceptReason" name="acceptReason"
                                  required=""
                                  style="width: 100%;">
                        </textarea>

                        <div class="alert alert-danger"
                             ng-show="submitted&&acceptReservationFormValidation.acceptReason.$error.required">
                            请填写相关回复
                        </div>
                        <div style="float: right;margin-top:5px;">
                            <input type="submit" class="btn btn-primary" value="确定"/>
                        </div>
                    </form>
                </x-self-popover>
            </button>
            <button class="btn btn-primary"
                    ng-show="unit.reservationStatus===reservationStatusMap.waitConfirm">
                拒绝
                <x-self-popover data-placement="top" x-style="min-width:200px;min-height:180px;"
                                name="refusePopover" auto-close>
                    <form name="refuseReservationFormValidation" novalidate=""
                          ng-submit="refuse(refuseReservationFormValidation.$valid,unit,refuseReason)">
                        <textarea class="form-control" ng-model="refuseReason" name="refuseReason"
                                  required=""
                                  style="width: 100%;">
                        </textarea>

                        <div class="alert alert-danger"
                             ng-show="submitted&&refuseReservationFormValidation.refuseReason.$error.required">
                            请填写拒绝原因
                        </div>
                        <div style="float: right;margin-top:5px;">
                            <input type="submit" class="btn btn-primary" value="确定"/>
                        </div>
                    </form>
                </x-self-popover>

            </button>
        </div>
    </div>
</script>
<script type="text/ng-template" id="reservation-row-header">
    <div class="row">
        <div class="col-lg-1">
            座号
        </div>
        <div class="col-lg-1">
            用户名
        </div>
        <div class="col-lg-1">
            电话
        </div>
        <div class="col-lg-2">
            预约时间
        </div>
        <div class="col-lg-2">
            预约回复
        </div>
        <div class="col-lg-1">
            叫号次数
        </div>
        <div class='col-lg-4'>
            操作
        </div>
    </div>

</script>