<div class="row">{{error}}</div>

        <div class="row">
            <button class="btn btn-info" ng-click="goBack()"><span class="glyphicon glyphicon-chevron-left"></span></button>
            <button class="btn btn-primary" ng-click="openPublicWaitListWindow()">打开大荧幕</button>

            <hr class='space' />
        </div>

<div class="row">
	<form id="reserve-panel" class="form-inline col-xs-12" name="reserveForm" novalidate>
		<div class="form-group">
			<input placeholder="用户名" class="form-control" ng-model="newReserve.name" required name="fUser"/>
			<alert type="'danger'" ng-show="reserveForm.fUser.$dirty && !reserveForm.fUser.$valid">
				请输入用户名
			</alert>
		</div>
		<div class="form-group">
			<select class="form-control" ng-model="newReserve.typeId" required name="fType">
				<option ng-repeat='partyType in partyTypeList' value="{{partyType.partyTypeId}}">{{partyType.partyTypeDescription}}</option>
			</select>
		</div>
		<div class="form-group">
			<input class="form-control" ng-model="newReserve.phone" placeholder="电话号码" required name="fPhone"/>
			<alert type="'danger'" ng-show="reserveForm.fPhone.$dirty && !reserveForm.fPhone.$valid">
				请输入有效的电话号码
			</alert>
		</div>
		<div class="form-group">
			<button ng-click="addUser(false)" class="btn btn-primary" ng-disabled="!reserveForm.$valid">排队</button>
		</div>
		<div class="form-group">
			<input type="text" class="form-control" datepicker-popup ng-model="newReserve.time" placeholder="日期" show-weeks="false" current-text="今天" toggle-weeks-text="显示周序" clear-text="清除" close-text="关闭" />
		</div>
		<div class="form-group">
			<timepicker ng-model="newReserve.time" meridians="['上午','下午']"></timepicker>
		</div>
		<div class="form-group">
			<button ng-click="addUser(true)" class="btn btn-primary" ng-disabled="!reserveForm.$valid">预约</button>
		</div>
		<hr class='space' />
	</form>
</div>
<div class='row'>
	<tabset class='col-lg-12'>
		<tab ng-repeat='(seg, units) in waitingList' heading='{{partyTypeList[seg - 1].partyTypeDescription}} ({{units.length}}人等候)'>
			<hr class='space' />
			<div class="list-group">
				<div class="list-group-item list-group-item-info">
					<div class="row">
						<div class="col-lg-1">
							座号
						</div>
						<div class="col-lg-2">
							用户名
						</div>
                        <div class="col-lg-2">
                            电话
                        </div>
						<div class="col-lg-3">
							排队时间
						</div>
						<div class="col-lg-2">
							叫号次数
						</div>
						<div class='col-lg-2'>
							操作
						</div>
					</div>
				</div>
				<div ng-repeat='unit in units' class="list-group-item">
					<div class="row">
						<div class="col-lg-1">
							{{unit.unitId}} 
						</div>
						<div class="col-lg-2">
							{{unit.userName}}
						</div>
                        <div class="col-lg-2">
                            {{unit.phone}}
                        </div>
						<div class="col-lg-3">
							{{unit.createTime * 1000 | date:'medium'}}
						</div>
						<div class="col-lg-2">
							{{unit.callCount}}
						</div>
						<div class='col-lg-2'>
							<button class="btn btn-primary" ng-click="remove(units, $index)">移除</button>
							<button class="btn btn-primary" ng-click="call(unit,partyTypeList[seg - 1].unitIdPrefix)">叫号</button>
						</div>
					</div>
				</div>
			</div>
		</tab>
		<tab heading='预定 ({{reservationList.length}}人等候)'>
			<hr class='space' />
			<div class="list-group">
				<div class="list-group-item list-group-item-info">
					<div class="row">
                        <div class="col-lg-1">
                            座号
                        </div>
                        <div class="col-lg-2">
                            用户名
                        </div>
                        <div class="col-lg-2">
                            电话
                        </div>
                        <div class="col-lg-3">
                            预约时间
                        </div>
                        <div class="col-lg-2">
                            叫号次数
                        </div>
                        <div class='col-lg-2'>
                            操作
                        </div>
					</div>
				</div>
				<div ng-repeat='unit in reservationList' class="list-group-item">
					<div class="row">
                        <div class="col-lg-1">
                            {{unit.unitId}}
                        </div>
                        <div class="col-lg-2">
                            {{unit.userName}}
                        </div>
                        <div class="col-lg-2">
                            {{unit.phone}}
                        </div>
						<div class="col-lg-3">
							{{unit.reservationInfo.reservationTime * 1000 | date:'medium'}}
						</div>
						<div class="col-lg-2">
							{{unit.callCount}}
						</div>
						<div class='col-lg-2'>
							<button class="btn btn-primary" ng-click="remove(reservationList, $index, 'reservation')">移除</button>
							<button class="btn btn-primary" ng-click="call(unit)">叫号</button>
						</div>
					</div>
				</div>
			</div>
		</tab>
        <tab heading='历史记录 ({{completeList.length}}人)'>
            <hr class='space' />
            <div class="list-group">
                <div class="list-group-item list-group-item-info">
                    <div class="row">
                        <div class="col-lg-1">
                            座号
                        </div>
                        <div class="col-lg-2">
                            用户名
                        </div>
                        <div class="col-lg-2">
                            电话
                        </div>
                        <div class="col-lg-3">
                            完成时间
                        </div>
                        <div class="col-lg-4">
                            叫号次数
                        </div>
                    </div>
                </div>
                <div ng-repeat='unit in completeList' class="list-group-item">
                    <div class="row">
                        <div class="col-lg-1">
                            {{unit.unitId}}
                        </div>
                        <div class="col-lg-2">
                            {{unit.userName}}
                        </div>
                        <div class="col-lg-2">
                            {{unit.phone}}
                        </div>
                        <div class="col-lg-3">
                            {{unit.completeTime * 1000 | date:'medium'}}
                        </div>
                        <div class="col-lg-4">
                            {{unit.callCount}}
                        </div>
                    </div>
                </div>
            </div>
        </tab>
	</tabset>
</div>